# Supabase
# Go to Project Settings → API → Project URL + anon public key
SUPABASE_URL=https://ycqjrpokcifgwcntlljz.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InljcWpycG9rY2lmZ3djbnRsbGp6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAwNDI5ODQsImV4cCI6MjA5NTYxODk4NH0.po9Xkrt7As-agBbh834o5SPKCoCVrVbOyt4JAYmAnUY
